@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

$default-font: 'Roboto', sans-serif;
$title-font: 'Patrick Hand', cursive;
$default-font-size: 1.5rem;

$tree-bg: rgb(159, 239, 180);
