@import 'src/theme';

.name {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $tree-person-height;
  min-width: $tree-person-width;
  background-color: $tree-bg;
  border-radius: 10px;
  word-break: break-word;

  .name-field {
    text-align: center;
    padding: 5px;
  }

  .add-field {
    margin-left: 25px;
    font-size: 2rem;
    cursor: pointer;
  }
}

.app-parents {
  float: left;
  width: 100%;
}
