@import 'src/theme';

.app-container {
  max-width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  font-size: $default-font-size;
  font-family: $default-font;
  padding: 2.5vh 2.5vw;

  .app-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-family: $title-font;
  }

  .app-content {
    flex: 2;
    overflow: auto;

    .tree {
      min-width: calc($tree-person-width * 4 + $tree-link-size * 2);

      .name {
        & > * {
          height: $tree-person-height;
          width: $tree-person-width;
          line-height: $tree-person-height;
          background-color: $tree-bg;
          border-radius: 10px;
          text-align: center;
          margin: 0 auto;
        }
      }

      .person, .parent, .parent-link, .name {
        float: left;
        width: 100%;
      }

      .parent-link {
        height: calc($tree-link-size * 2);

        .parent-line {
          border-left: $tree-link;
          border-right: $tree-link;
          border-bottom: $tree-link;
          height: $tree-link-size;
          width: 50%;
          margin: 0 auto;
        }

        .child-to-parent {
          position: relative;
          left: 50%;
          margin-right: 50%;
          border-left: $tree-link;
          height: $tree-link-size;
        }
      }

      .parent {
        .person {
          width: 50%;
        }

        .parent-link, .name {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }

  .app-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
