@import 'src/theme';

.app-master-layout {
  max-width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  font-size: $default-font-size;
  font-family: $default-font;
  padding: 2.5vh 2.5vw;
}
