@import 'src/theme';

.app-header {
  flex: 1;
  max-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  font-family: $title-font;
}

.app-content {
  flex: 2;
  overflow: auto;
}

.app-footer {
  flex: 1;
  max-height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
